@font-face {
  font-family: "iconfont"; /* Project id 4101304 */
  src: url('https://at.alicdn.com/t/c/font_4101304_sf3kd2zd0r.woff2?t=1685697110386') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4101304_sf3kd2zd0r.woff?t=1685697110386') format('woff'),
       url('https://at.alicdn.com/t/c/font_4101304_sf3kd2zd0r.ttf?t=1685697110386') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e604";
}

.icon-bofang2:before {
  content: "\e634";
}

.icon-caiyouduo_gendanxiangqing-fenxiang:before {
  content: "\e678";
}

.icon-weixinduansvgtubiao28:before {
  content: "\e672";
}

.icon-shouye:before {
  content: "\e63a";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-bofang:before {
  content: "\e615";
}

.icon-mao:before {
  content: "\e645";
}

.icon-KTV:before {
  content: "\e62f";
}

.icon-shengdanshu:before {
  content: "\e622";
}

.icon-denglong:before {
  content: "\e612";
}

.icon-vynil:before {
  content: "\e61f";
}

.icon-shuimian:before {
  content: "\e610";
}

.icon-yinle:before {
  content: "\e60e";
}

.icon-lishijilu_o:before {
  content: "\eb7b";
}

.icon-paobu:before {
  content: "\e719";
}

.icon-cd:before {
  content: "\e62a";
}

.icon-erji:before {
  content: "\e6b1";
}

.icon-bangdan:before {
  content: "\e691";
}

.icon-shoucang:before {
  content: "\e62d";
}

.icon-xinqingdongtai:before {
  content: "\e600";
}

.icon-icon:before {
  content: "\e630";
}

.icon-xianhua:before {
  content: "\e718";
}

.icon-shuochang:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e601";
}

.icon-douyin:before {
  content: "\e69b";
}

.icon-douyin1:before {
  content: "\e602";
}

.icon-lingsheng:before {
  content: "\e67d";
}

.icon-zuanshi:before {
  content: "\e817";
}

.icon-xiangcun:before {
  content: "\e632";
}

.icon-fenxiang:before {
  content: "\e621";
}

.icon-a-chazhaosousuo-01:before {
  content: "\e608";
}

.icon-a-duihuaduanxinxinxiliaotian:before {
  content: "\e616";
}

.icon-a-dingweiweizhiditu:before {
  content: "\e618";
}

.icon-a-xiangjizhaoxiangpaishe:before {
  content: "\e619";
}

.icon-a-shoucangxingxing:before {
  content: "\e61b";
}

.icon-a-gerenyonghu:before {
  content: "\e620";
}

.icon-zan-2:before {
  content: "\e623";
}

.icon-a-xinxiyoujian:before {
  content: "\e624";
}

.icon-tishi:before {
  content: "\e627";
}

.icon-a-gengduocaidangongneng:before {
  content: "\e628";
}

.icon-bianji:before {
  content: "\e62b";
}

.icon-a-tupianzhaopian:before {
  content: "\e631";
}

.icon-yinle1:before {
  content: "\e633";
}

.icon-nv:before {
  content: "\e636";
}

.icon-nan:before {
  content: "\e637";
}

.icon-a-yanjingxianshi:before {
  content: "\e638";
}

.icon-a-biyanyincang:before {
  content: "\e639";
}

.icon-yun:before {
  content: "\e63b";
}

.icon-yunduan:before {
  content: "\e63c";
}

.icon-shangchuan:before {
  content: "\e63d";
}

.icon-xiazai:before {
  content: "\e63e";
}

.icon-a-tuichuzhuxiao:before {
  content: "\e63f";
}

.icon-a-jinzhicuowu:before {
  content: "\e640";
}

.icon-a-shanchujian:before {
  content: "\e641";
}

.icon-a-anquanbaohu:before {
  content: "\e642";
}

.icon-a-suosimiyinsi:before {
  content: "\e643";
}

.icon-a-wenjianjiawenjian:before {
  content: "\e644";
}

.icon-fenxiang1:before {
  content: "\e646";
}

.icon-a-saomasaoyisao:before {
  content: "\e649";
}

.icon-a-shezhichilun:before {
  content: "\e64a";
}

.icon-huiyuan:before {
  content: "\e64b";
}

.icon-a-wendangjiludingdan:before {
  content: "\e64c";
}

.icon-a-shuqianshoucang:before {
  content: "\e652";
}

.icon-erweima:before {
  content: "\e656";
}

.icon-a-shenfenzhengIDtongxunlu:before {
  content: "\e65a";
}

.icon-a-tixinglingdang:before {
  content: "\e65b";
}

.icon-a-zhidingdingbu:before {
  content: "\e65c";
}

.icon-a-remenhuo:before {
  content: "\e65d";
}

.icon-a-diqiuwangluohulianwang:before {
  content: "\e666";
}

.icon-liwu:before {
  content: "\e668";
}

.icon-gouwuche:before {
  content: "\e669";
}

.icon-youhuiquan:before {
  content: "\e66b";
}

.icon-a-tiaozhuangtushuju:before {
  content: "\e66c";
}

.icon-kefu:before {
  content: "\e66f";
}

.icon-biaoqian:before {
  content: "\e670";
}

.icon-bofang1:before {
  content: "\e673";
}

.icon-a-gengduohengxiang:before {
  content: "\e674";
}

.icon-a-taolunluntan:before {
  content: "\e675";
}

.icon-zanting:before {
  content: "\e61a";
}

.icon-youxi:before {
  content: "\e676";
}

.icon-a-shuaxinsvg:before {
  content: "\e677";
}

.icon-fuwu:before {
  content: "\e67c";
}

.icon-dakaiwenjian:before {
  content: "\e67e";
}

.icon-baocun:before {
  content: "\e67f";
}

.icon-yingshi:before {
  content: "\e61c";
}

.icon-a-1_chunyinle:before {
  content: "\e61d";
}

.icon-a-1_chadao:before {
  content: "\e61e";
}

.icon-a-1_minyao1:before {
  content: "\e625";
}

.icon-a-1_xiangsheng1:before {
  content: "\e626";
}

.icon-a-1_guangchangwu1:before {
  content: "\e629";
}

.icon-a-1_xiqu:before {
  content: "\e62c";
}

.icon-shouye1:before {
  content: "\e603";
}

.icon-mao1:before {
  content: "\e735";
}

.icon-zanting1:before {
  content: "\e609";
}
